<h1>{{project.name}}</h1>

  <div class="description">
    {{project.description}}
  </div>
  <div class="tech">
    <h3>Technologies Implemented:</h3>
    {{#each project.techs as |tech|}}
      {{tech}}
      <br />
    {{/each}}
  </div>
  <br />
  <div class="Github">
    <a href="{{project.link}}">
        Github repository
       </a>
  </div>
