<div class="About">
  <div class="project-name">
    {{project}}
  </div>
  <div class="properties">
    {{#each project as |properties|}}
      {{properties}}
      <br />
    {{/each}}
  </div>
</div>
