<h1>Projects by Holly</h1>

{{#each projects as |project|}}
<div class="projects">
  <div class="project-name">
      <a href="/about/{{project.tag}}">
           {{project.name}}
         </a>
  </div>
  <div class="technologies">
    {{#each project.techs as |tech|}}
      {{tech}}
      <br />
    {{/each}}
  </div>
  <br />
  {{/each}}
</div>
